## Filtering Data
- Filtering is widely while working with huge amount of data.
- Filtering allow us to extract specific data from the huge data set  for analysis.
- A common operation in data analysis is to filter values based on a condition or multiple condition.

In [1]:
import pandas as pd 
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Salaries (2).csv')
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [3]:
df['phd'].mean()

19.705128205128204

In [4]:
df['service
'].mean()

SyntaxError: unterminated string literal (detected at line 1) (3931240504.py, line 1)

In [ ]:
df[['service', 'phd','salary']].meann()

In [ ]:
df.mean()

In [ ]:
# gender is female ande  salary is grater than 150000

In [ ]:
df.head()

In [ ]:
df['sex']== 'Female'

In [ ]:
df[df['sex']=='Female']

In [ ]:
# and and or operaator i,e, & , | 
# | operatior perform only one condition ie. or operator

In [ ]:
df[(df['sex']=='Female') & (df['salary'] > 15000)]

In [ ]:
df[(df['sex']=='Female') | (df['salary'] > 15000)]

In [ ]:
df1=df[(df['sex']=='Female') & (df['salary'] > 15000)]

In [ ]:
df1[['service','phd']]

In [ ]:
# What is avarage salary of a  Females?

In [ ]:
df[df['sex']== 'Female']['salary'].mean()

In [ ]:
df[df['sex']== 'Male']['salary'].mean()

In [ ]:
df[df['sex']== 'Male']['salary'].median()

In [ ]:
#What is the ava salary of rank prof?

In [ ]:
df['rank'].unique

In [ ]:
df[df['rank']== 'Prof']['salary'].mean ()

In [ ]:
#what is ava salary of rank Prof and discipline A?

In [ ]:
df[(df['rank']=='Prof') & (df['discipline']== 'A')]

In [ ]:
# what is the avarage salary of Associate prof?

In [ ]:
df['rank'].unique()

In [ ]:
df[df['rank']=='AssocProf']['salary'].mean()

In [ ]:
df[df['rank']== 'AsstProf']['salary'].mean()

In [ ]:
df[df['rank']== 'Prof']['salary'].mean()

# Grupby function
- insted of calculating avarage salaries sepratly 'we can use pandas grupby method.

In [ ]:
#Grupby aggrigate method

In [ ]:
df.groupby('rank')['salary'].mean()

In [ ]:
#min,max,maen,median

In [ ]:
df.groupby('rank')['salary'].agg({'min','max','mean','median'})

In [7]:
df = pd.read_csv('nba.csv')

In [8]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head()

In [ ]:
#extract the data ewhere team is Boston Celtics and weight is less than 100

In [ ]:
df[(df['Team']=='Boston Celtics') & (df['Weight'] < 100)]

In [ ]:
#extract the data ewhere team is Boston Celtics and weight is grater than 100

In [ ]:
df[(df['Team']=='Boston Celtics') & (df['Weight'] > 100)]

In [ ]:
#what is the avarage salary of players of Los Angeles Lakers

In [13]:
df['Team'].unique()

array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
       'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
       'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
       'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
       'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
       'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz',
       nan], dtype=object)

In [ ]:
df[df['Team']== 'Los Angeles Lakers']['Salary'].mean()

In [ ]:
#what is the avarage salary of thr player based of various position?

In [ ]:
df.groupby('Position')['Salary'].mean()

In [ ]:
#which players belong to San Diago State collage?

In [ ]:
df[df['College']=='San Diego State']

In [12]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
#which player of  	Boston Celtics' has the heighst salary?

In [15]:
df[df['Team']== 'Boston Celtics']['Salary'].max()

12000000.0